'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Package Switch'
      'submenu': [
        {
          'label': 'Start Bundle'
          'command': 'package-switch:start-bundle'
        },
        {
          'label': 'Stop Bundle'
          'command': 'package-switch:stop-bundle'
        },
        {
          'label': 'Create bundle'
          'command': 'package-switch:create'
        },
        {
          'label': 'Edit bundle'
          'command': 'package-switch:edit'
        },
        {
          'label': 'Remove bundle'
          'command': 'package-switch:remove'
        }
      ]
    ]
  }
]
